In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from IPython.display import Image
from IPython.display import HTML
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))
    
    #numpy.quantile(
    #boolean indexing for question 4

In [30]:
# Read the CSV file using pandas
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
        
df.head(100)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
95,TV87155,Oregon,NaN,Bachelor,2094619.25%,69738.0,74.0,1/1/00,Personal Auto,Four-Door Car,492.127532
96,KH48895,AZ,NaN,Master,837535.39%,17780.0,109.0,1/0/00,Personal Auto,SUV,132.588288
97,NZ30757,California,NaN,Bachelor,480166.15%,18107.0,62.0,1/0/00,Personal Auto,Four-Door Car,297.600000
98,RI22468,AZ,NaN,Bachelor,574594.33%,57740.0,74.0,1/3/00,Personal Auto,Four-Door Car,269.905129
99,FZ30935,Oregon,NaN,College,606611.60%,32627.0,76.0,1/0/00,Personal Auto,Two-Door Car,380.036697

# QUESTION 1:A

In [6]:
df.info() #determine the dimension of the data set: 11 columns and 4007 rows (excluding row 0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

# Question 1:B

In [7]:
df['ST'].describe() #Determine the data types of each column (object) appropriate for the nature of the variable?: yes

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object

In [16]:
df['Customer'].describe()  #Determine the data types of each column (object) appropriate for the nature of the variable?: yes

count        1071
unique       1071
top       RB50392
freq            1
Name: Customer, dtype: object

In [17]:
df['Education'].describe()  #Determine the data types of each column (object) appropriate for the nature of the variable?: yes

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object

In [19]:
df['Customer Lifetime Value'].describe()  #Determine the data types of each column (object) appropriate for the nature of the variable?: no
#suggestion for fixing incorrect data type: change to float64

count           1068
unique          1027
top       445811.34%
freq               4
Name: Customer Lifetime Value, dtype: object

In [20]:
df['Income'].describe() #Determine the data types of each column (float64) appropriate for the nature of the variable?: yes

count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64

In [22]:
df['Monthly Premium Auto'].describe() 
#Determine the data types of each column (float64) appropriate for the nature of the variable?: yes

count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: Monthly Premium Auto, dtype: float64

In [23]:
df['Number of Open Complaints'].describe()
#Determine the data types of each column (float64) appropriate for the nature of the variable?: no!!!!!!

count       1071
unique         6
top       1/0/00
freq         830
Name: Number of Open Complaints, dtype: object

In [25]:
df['Policy Type'].describe()
#Determine the data types of each column (object) appropriate for the nature of the variable?: yes

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object

In [27]:
df['Vehicle Class'].describe()
#Determine the data types of each column (object) appropriate for the nature of the variable?: yes

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object

In [28]:
df['Total Claim Amount'].describe()
#Determine the data types of each column (float64) appropriate for the nature of the variable?: yes

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [29]:
df['Customer'].describe()
##Determine the data types of each column (object) appropriate for the nature of the variable?: yes

count        1071
unique       1071
top       RB50392
freq            1
Name: Customer, dtype: object

In [32]:
df['GENDER'].describe()
##Determine the data types of each column (object) appropriate for the nature of the variable?: yes

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object

# Question 1: C

Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights

#The number of unique values for each column:
Customer: 1071. Categorical?: No
ST: 8. Categorical?: Yes
Gender: 5. Categorical?: Yes
Education: 6. Categorical?: Yes
Customer Lifetime Value: 1027. Categorical?: No
Income: 774. Categorical?: No
Monthly Premium Auto: 132. Categorical?: No
Number of Open Complaints: 6. Categorical?: No
Policy Type: 3. Categorical?: Yes
Vehicle Class: 6. Categorical?: Yes
Total Claim Amount: 761. Categorical?: No

In [33]:
unique_values_count = df['Income'].nunique()

print("Number of unique values:", unique_values_count)

Number of unique values: 774

In [34]:
unique_values_count = df['Monthly Premium Auto'].nunique()

print("Number of unique values:", unique_values_count)

Number of unique values: 132

In [60]:
unique_values_count = df['Total Claim Amount'].nunique()

print("Number of unique values:", unique_values_count)

Number of unique values: 761

 Numerical Colums

Total Claim Amount 
Number of Open Complaints
Monthly Premium Auto
Income
Customer Lifetime Value

In [59]:
range_claims_amount = df['Total Claim Amount'].max() - df['Total Claim Amount'].min()

print("Range of Total Claim Amount:", range_claims_amount)
print("Max Value",df['Total Claim Amount'].max())
print("Min Value",df['Total Claim Amount'].min())

#As expected, the lowest value in the data set is less than $1 denoting an accident free driver. 
#The highest claim figure is $2893

Range of Total Claim Amount: 2892.857571
Max Value 2893.239678
Min Value 0.382107

In [40]:
range_monthly_premium = df['Monthly Premium Auto'].max() - df['Monthly Premium Auto'].min()
print("Range of Monthly Premiums:", range_claims_amount)
print("Max Value",df['Monthly Premium Auto'].max())
print("Min Value",df['Monthly Premium Auto'].min())

#The most expensive premium is $35354. The lowest is $61

Range of Monthly Premiums: 2892.857571
Max Value 35354.0
Min Value 61.0

In [41]:
range_customer_income = df['Income'].max() - df['Income'].min()
print("Range of Customer Income:", range_claims_amount)
print("Max Value",df['Income'].max())
print("Min Value",df['Income'].min())

#The highest earning customer earns $99960.
#Their are customers in the data set with no monetary income.

Range of Customer Income: 2892.857571
Max Value 99960.0
Min Value 0.0

In [48]:
complaints_counts = df['Number of Open Complaints'].value_counts()
print(complaints_counts)
sum(6,13,34,50,138)
#77.48% of customers currently have no open complaint.
#The highest count value is 6 which corresponds to 0.56% of all customers

1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: Number of Open Complaints, dtype: int64

Categorical Columns
ST
Gender
Education
Policy Type
Vehicle Class

In [61]:
#Unique Values for column 'ST'

unique_values_counts = df['ST'].value_counts()
print(unique_values_counts)
#There are a number of entries that need to be merged due to inconsistency with labelling.
#Cali __ California
#AZ __ Arizona
#WA__Washington
#If we wanted to focus on values per state then Oregon would be merged to Washington

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [62]:
#Unique Values for column 'GENDER'
unique_values_counts = df['GENDER'].value_counts()
print(unique_values_counts)
#Due to mislabelling, we are presented with three duplicate values for female and two for male.
#Female: 502
#Male: 452
#The data set is equally spread amoung both genders.

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [65]:
#Unique Values for column 'Education'
unique_values_counts = df['Education'].value_counts()
print(unique_values_counts)
#Here Batchelor and Batchelors can be merged to give a total of 331.
#The category "College" does not specify exactly what level the customer has obtained.
#Taking the non-specific category "College" into account, "Batchelor" is the most common level of education.

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

In [66]:
#Unique Values for column 'Policy Type'
unique_values_counts = df['Policy Type'].value_counts()
print(unique_values_counts)
#Here we are presented with consistent data with three unique values. 
#The most popular category is Personal Auto with an overall share of 72.83%

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [69]:
#Unique Values for column 'Vehicle Class'
unique_values_counts = df['Vehicle Class'].value_counts()
print(unique_values_counts)
#Here we are presented with consistent data with six unique values. 
#The most popular type is Four-Door Car with an overall share of 53.31%
#1.3% of customers have a Luxury Car policy

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64